body {
    align-content: center;


}
.alert-info {
    display: flex;
    justify-content: center;
    border: rgb(200,200,200) 1px solid;
    background-color: rgb(200, 255, 255);
    height: 3em;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;


}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-section {
    font-style: italic;
}

footer {
    padding-top: 5em;
}

.header-img {
    border: solid 1px;
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

.nav-links {
    display: flex;
    justify-items: center;
    padding-left: 0;

}

section {
    justify-content: center;
    margin: 0 1em;
}

li {
    display: flex;
    justify-content: space-evenly;
    border: rgb(200,200,200) 1px solid;
    background-color: rgb(200, 200, 200);
    height: 3em;
    align-items: center;
    margin: 0.5em;
    width: 339px;
}

ul{
    display: flex;
    flex-direction: column;

}

@media screen and (min-width:500px) {
    .alert-info {
        display: none;
    }


    h1 {
        display: flex;
        justify-content: flex-start;
        max-width: 50%;
        position: absolute;
        top: -10px;
    }

    li {
        display: flex;
        justify-content: space-between;
        border: none;
        background-color: white;
        height: 1em;
        margin: 0.5em;
        width: 1em;
        padding-right: 2em;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

    }
.main {
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: flex-start;
    width: 50vw;
}
.sub-section {
    display: flex;
    float: end;
    flex-direction: column;
    justify-content: flex-start;
    width: 40vw;
}

footer {
    display: flex;
    position: absolute;
    bottom: 100px;
}
}